TZ=Europe/Vienna
PUID=1000
PGID=1000

CNFG_DIR=.
MNT_DIR=/mnt/you-mnt-path/data

# QBITTORRENT_TAG=5.1.4
# VPN_TAG=v3.41.1
OPENVPN_USER=
OPENVPN_PASSWORD=
# VPN_PROTOCOL=tcp
#HEALTH_VPN_DURATION_INITIAL=30s

# VPN_DELTA_CNTNR=vpn-delta
# VPN_DELTA_REGIONS=Croatia,France,Czech Republic,DE Frankfurt
# QBIT_DELTA_CNTNR=qbit-delta
QBIT_DELTA_WEBUI_PORT=8084
