POSTGRES_USER=lustror
POSTGRES_PASSWORD=Your-Super-Secret_Password9
POSTGRES_DB=lustror
LUSTROR_HMAC_KEY=
LUSTROR_DIR=
HOST_PORT=
POSTGRES_PORT=
LUSTROR_NETWORK=
TZ=
POSTGRES_TAG=
POSTGRES_CNTNR=
POSTGRES_SHM=
LUSTROR_TAG=
LUSTROR_CNTNR=
LUSTROR_WORKER_CNTNR=
LUSTROR_TRUST_PROXY=
LUSTROR_OCR_LANGS=
LUSTROR_PDFIUM_PATH=
