TZ=Europe/Vienna
PUID=1000
PGID=1000

CNFG_DIR=.
MNT_DIR=/mnt/you-mnt-path/data

# QBITTORRENT_TAG=5.1.4
# VPN_TAG=v3.41.1
OPENVPN_USER=
OPENVPN_PASSWORD=
# VPN_PROTOCOL=tcp
#HEALTH_VPN_DURATION_INITIAL=30s

# VPN_BRAVO_CNTNR=vpn-bravo
# VPN_BRAVO_REGIONS=Hungary,Switzerland,France,Croatia
# QBIT_BRAVO_CNTNR=qbit-bravo
QBIT_BRAVO_WEBUI_PORT=8082
