
TZ=Europe/Vienna
CNFG_DIR=
MNT_DIR=/mnt/you-mnt-path/data
PUID=1000
PGID=1000

# POSTGRES_TAG=16
POSTGRES_PASSWORD=

RADARR_DB_CNTNR=radarr-db
# RADARR_DB_USER=radarr
RADARR_DB_MAIN=radarr-main
RADARR_DB_LOG=radarr-log
RADARR_DB_PORT=

SONARR_DB_CNTNR=sonarr-db
SONARR_DB_USER=sonarr
SONARR_DB_MAIN=sonarr-main
SONARR_DB_LOG=sonarr-log
SONARR_DB_PORT=5433

PROWLARR_DB_CNTNR=prowlarr-db
PROWLARR_DB_USER=prowlarr
PROWLARR_DB_MAIN=prowlarr-main
PROWLARR_DB_LOG=prowlarr-log
PROWLARR_DB_PORT=5434

SEERR_DB_CNTNR=seerr-db
SEERR_DB_USER=seerr
SEERR_DB=seerr
SEERR_DB_PORT=5435

# PGADMIN_TAG=9.15
PGADMIN_CNTNR=pgadmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# QBITTORRENT_TAG=5.1.4
QBIT_ALPHA_CNTNR=qbit-alpha
QB_WEBUI_PORT=8080
QB_TCP_PORT=6881
QB_UDP_PORT=6881
QB_MEMORY_LIMIT=4096M

# QUI_TAG=v1.20.0
QUI_CNTNR=qui
QUI_PORT=7476

# FLARESOLVERR_TAG=v3.5.0
# FLARESOLVERR_CNTNR=flaresolverr
FLARESOLVERR_PORT=8191
FS_LOG_LEVEL=info
FS_LOG_HTML=false
FS_CAPTCHA_SOLVER=none

# PROWLARR_TAG=2.4.0
PROWLARR_CNTNR=prowlarr
PROWLARR_PORT=9696

# RADARR_TAG=6.2.1
RADARR_CNTNR=radarr
RADARR_PORT=7878

SONARR_TAG=4.0.17
SONARR_CNTNR=sonarr
SONARR_PORT=8989

# SEERR_TAG=v3.3.0
SEERR_CNTNR=seerr
SEERR_PORT=5055
SR_LOG_LEVEL=info

# VPN (PIA / gluetun)
# VPN_TAG=v3.40
OPENVPN_USER=
OPENVPN_PASSWORD=
# docker network inspect servarr -f '{{(index .IPAM.Config 0).Subnet}}'
DOCKER_SUBNET=172.18.0.0/16

QBIT_ALPHA_WEBUI_PORT=8081
QBIT_BRAVO_WEBUI_PORT=8082
QBIT_CHARLIE_WEBUI_PORT=8083
QBIT_DELTA_WEBUI_PORT=8084

# VPN_ALPHA_CNTNR=vpn-alpha
# VPN_BRAVO_CNTNR=vpn-bravo
# VPN_CHARLIE_CNTNR=vpn-charlie
# VPN_DELTA_CNTNR=vpn-delta
# VPN_ARR_CNTNR=vpn-arr
# QBIT_BRAVO_CNTNR=qbit-bravo
# QBIT_CHARLIE_CNTNR=qbit-charlie
# QBIT_DELTA_CNTNR=qbit-delta
