# Global
TZ=Europe/Vienna
CNFG_DIR=/home/master/pipeline/servarr
MNT_DIR=/mnt/KinoDerToten/data
PUID=1000
PGID=1000

# Postgres
POSTGRES_TAG=16
POSTGRES_PASSWORD=

# Radarr DB
RADARR_DB_CNTNR=radarr-db
RADARR_DB_USER=radarr
RADARR_DB_MAIN=radarr-main
RADARR_DB_LOG=radarr-log
RADARR_DB_PORT=5432

# Sonarr DB
SONARR_DB_CNTNR=sonarr-db
SONARR_DB_USER=sonarr
SONARR_DB_MAIN=sonarr-main
SONARR_DB_LOG=sonarr-log
SONARR_DB_PORT=5433

# Prowlarr DB
PROWLARR_DB_CNTNR=prowlarr-db
PROWLARR_DB_USER=prowlarr
PROWLARR_DB_MAIN=prowlarr-main
PROWLARR_DB_LOG=prowlarr-log
PROWLARR_DB_PORT=5434

# Seerr DB
SEERR_DB_CNTNR=seerr-db
SEERR_DB_USER=seerr
SEERR_DB=seerr
SEERR_DB_PORT=5435

# pgAdmin
PGADMIN_TAG=9.15
PGADMIN_CNTNR=pgadmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=

# qBittorrent
QBITTORRENT_TAG=5.1.4
QBITTORRENT_CNTNR=qbittorrent
QB_WEBUI_PORT=8080
QB_TCP_PORT=6881
QB_UDP_PORT=6881
QB_MEMORY_LIMIT=4096M

# qui
QUI_TAG=v1.20.0
QUI_CNTNR=qui
QUI_PORT=7476

# FlareSolverr
FLARESOLVERR_IMAGE=flaresolverr/flaresolverr
FLARESOLVERR_TAG=v3.5.0
FLARESOLVERR_CNTNR=flaresolverr
FLARESOLVERR_PORT=8191
FS_LOG_LEVEL=info
FS_LOG_HTML=false
FS_CAPTCHA_SOLVER=none

# Prowlarr
PROWLARR_TAG=2.4.0
PROWLARR_CNTNR=prowlarr
PROWLARR_PORT=9696

# Radarr
RADARR_TAG=6.2.1
RADARR_CNTNR=radarr
RADARR_PORT=7878

# Sonarr
SONARR_TAG=4.0.17
SONARR_CNTNR=sonarr
SONARR_PORT=8989

# Seerr
SEERR_TAG=latest
SEERR_CNTNR=seerr
SEERR_PORT=5055
SR_LOG_LEVEL=info
