TAG=
CNTNR=
WEBUI_PORT=
TCP_PORT=
UDP_PORT=
MEMORY_LIMIT=
CNFG_DIR=
MNT_DIR=



CNFG_DIR=/home/master/pipeline/servarr
MNT_DIR=/mnt/KinoDerToten/data
TZ=Europe/Vienna

POSTGRES_TAG
POSTGRES_CNTNR
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASSWORD

PMA_TAG
PMA_CNTNR
PMA_HOST_PORT


QBITTORRENT_TAG
QBITTORRENT_CNTNR
QB_WEBUI_PORT
QB_TCP_PORT
QB_UDP_PORT
QB_MEMORY_LIMIT

QUI_TAG
QUI_CNTNR
QUI_PORT

PROWLARR_TAG
PROWLARR_CNTNR
PROWLARR_PORT

FLARESOLVERR_TAG
FLARESOLVERR_CNTNR
FLARESOLVERR_PORT
FS_LOG_LEVEL
FS_LOG_HTML
FS_CAPTCHA_SOLVER

RADARR_TAG
RADARR_CNTNR
RADARR_PORT

SONARR_TAG
SONARR_CNTNR
SONARR_PORT

SEERR_TAG
SEERR_CNTNR
SEERR_PORT
SR_LOG_LEVEL
